<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>chanforever</vendor>
  <vendor_url>https://github.com/mywhat/DDESwitchCard</vendor_url>
  <action id="com.deepin.pkexec.switchCard.Intel">
    <description>authentication</description>
    <description xml:lang="zh_CN">认证</description>
    <message>Authentication is required to view the log</message>
    <message xml:lang="zh_CN">切换显卡需要认证</message>
    <icon_name>deepin-graphics-driver-manager</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/apps/switchcard/switchCard.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
<action id="com.deepin.pkexec.switchCard.Nvidia">
    <description>authentication</description>
    <description xml:lang="zh_CN">认证</description>
    <message>Authentication is required to view the log</message>
    <message xml:lang="zh_CN">重启lightdm需要认证</message>
    <icon_name>deepin-graphics-driver-manager</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/opt/apps/switchcard/reloadLightdm.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
