[Desktop Entry]
#X-DFM-SupportSchemes=file
Categories=Application
Exec=pkexec /usr/bin/bash /home/czh/Desktop/switch/Intel.sh
GenericName=Switch Intel
GenericName[en]=Switch Intel
GenericName[zh_CN]=切换英特尔显卡
MimeType=*
Name=Switch Intel
Name[en]=Switch Intel
Name[zh_CN]=切换英特尔显卡
Type=Application
X-DFM-MenuTypes=EmptyArea
X-Deepin-Vendor=user-custom
