[Desktop Entry]
Type=Application
Exec=pkexec /usr/bin/bash /opt/switchcard/Nvidia.sh
GenericName=Switch Nvidia
Name=Switch Nvidia
MimeType=*
GenericName[zh_CN]=切换英伟达显卡
GenericName[en]=Switch Nvidia
Name[zh_CN]=切换英伟达显卡
Name[en]=Switch Nvidia
Categories=Application
Type=Application
X-DFM-MenuTypes=EmptyArea
#X-DFM-SupportSchemes=file
