[Desktop Entry]
GenericName=Switch Card
GenericName[en]=Switch Card
GenericName[zh_CN]=切换显卡
MimeType=*
Name=Switch Card
Name[en]=Switch Card
Name[zh_CN]=切换显卡
Type=Application
X-DFM-MenuTypes=EmptyArea
X-Deepin-Vendor=user-custom
Actions=SwitchIntelAction;SwitchNvidiaAction;SwitchPrimeAction;

[Desktop Action SwitchIntelAction]
Name=Switch Intel
Name[en]=Switch Intel
Name[zh_CN]=英特尔显卡
Icon=Intel
Exec=pkexec /opt/apps/swichcard/switchcard.sh -s Intel

[Desktop Action SwitchNvidiaAction]
Name=Switch Nvidia
Name[zh_CN]=英伟达显卡
Name[en]=Switch Nvidia
Icon=Nvidia
Exec=pkexec /opt/apps/switchcard/switchcard.sh -s Nvidia

[Desktop Action SwitchPrimeAction]
Name=Switch Prime
Name[zh_CN]=混合显卡
Name[en]=Switch Prime
Icon=Hybrid
Exec=pkexec /opt/apps/switchcard/switchcard.sh -s Prime
